body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
    grid-template-rows: 50px 1fr 40px;
    grid-template-columns: 1fr 100px;
  }
  header {
    grid-area: header;
    background-color: rgb(12, 120, 163);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    font-style: normal;
    font-size: 30px;
    font-weight: normal;
  }

  main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
  } 
  
  footer {
    grid-area: footer;
    background-color: violet;
  }